
.contentDiv {
    width: 100%;
    position: relative;
    margin-top: 70px;


}

.content {
    display: grid;
    width: 1200px;
    margin: auto;
    grid-template:repeat(2, 250px)/repeat(3, 390px);
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    height: 100vh;
}

.card {
    display: grid;
    position: relative;


}

.card img {
    width: 390px;
    height: 250px;
}

.title {
    position: relative;
    top: 10px;
    color: #3d3d3d;
    margin-left: calc(40%);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    text-decoration: none !important;
}
