.contentDiv {
    position: relative;
    width: 100%;
    background: #F9F9F9;
    margin-top: 70px;
    min-height: 100vh;

}

.title {
    position: absolute;
   top: 10px;
    margin-left: 500px;

}

.content {
    width: 1200px;
    position: relative;
    margin: auto;
    /*margin-top: 100px;*/
    display: grid;
    grid-template-areas:"left middle right "
      "left1 middle1 right1 ";


}

.boxes {
    position: relative;
    margin-top: 80px;


}

.box {
    width: 400px;
    height: 300px;
    margin: 10px;


}

.box img {
    width: 400px;
    height: 230px;
}

.box1 {

    display: grid;
    grid-area: left;
    margin-left: -20px;

}

.box2 {

    display: grid;
    grid-area: left1;
    margin-left: -20px;

}

.box4 {
    display: grid;
    grid-area: middle;
    margin-top: -30px;


}

.box5 {
    display: grid;
    grid-area: middle1;
    margin-top: -30px;

}

.box3 {
    display: grid;
    grid-area: right;


}

.box6 {

    display: grid;
    grid-area: right1;


}
span{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.arrow{
    text-align: center;
}
.arrow img{
    position: absolute;
    width: 25px;
    height: auto;

}
.arrow img:hover {
    position: absolute;
    transition: 1.5s ease;
    width: 40px;
    margin-top: -4px;
}